{
  "globals": {
    "describe": "readonly",
    "it": "readonly",
    "test": "readonly",
    "expect": "readonly",
    "beforeAll": "readonly",
    "afterAll": "readonly",
    "beforeEach": "readonly",
    "afterEach": "readonly",
    "vi": "readonly"
  },
  "rules": {
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
